<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sistema de Inscipciones</title>

        <!-- CSS -->
        <link href="css/app.min.css" rel="stylesheet">

    </head>
    <body class="p-b-15">
        <header id="header">
            <ul class="header-inner">
                <li class="logo">
                    <a href="inicio.html.erb">
                        <img src="img/logotec.png" alt="">
                        <span>
                            <strong>| &nbsp;&nbsp;Sistema de Inscripciones</strong>
                        </span>
                    </a>
                </li>

                <li class="pull-right yes-xs">
                    <ul class="top-menu">
                        <li class="dropdown hidden-xs">
                            <a data-toggle="dropdown" href="" class="name">AYUDA <i class="md-expand-more"></i></a>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li>
                                    <a href=""><i class="md md-live-help"></i> Tutorial</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-email"></i> Contacto</a>
                                </li>

                            </ul>
                        </li>
                        <li class="hidden-xs"  id="chat-trigger" data-trigger="#chat">
                            <a href="" class="name">ALEJANDRO HENKEL <i class="md-expand-more"></i></a>
                            <!-- <ul class="dropdown-menu dm-icon pull-right">

                                <li>
                                    <a href=""><i class="md md-settings-power"></i> Salir</a>
                                </li>
                            </ul> -->
                        </li>
                        <li class="visible-xs-block" id="chat-trigger" data-trigger="#chat">
                            <a class="tm-chat" href=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>

        <section id="main">
            <aside id="chat">
                <div class="listview">
                    <h2>Mi Información</h2>
                    <hr>
                    <ul class="material-list">
                        <li>
                            <p class="element">Alejandro Henkel</p>
                            <p class="description">Nombre</p>
                        </li>
                        <li>
                            <p class="element">A01270874</p>
                            <p class="description">Matrícula</p>
                        </li>
                        <li>
                            <p class="element">Profesional</p>
                            <p class="description">Nivel</p>
                        </li>
                        <li>
                            <p class="element">IIS 07</p>
                            <p class="description">Carrera</p>
                        </li>
                        <li>
                            <p class="element">Agosto-Diciembre 2016</p>
                            <p class="description">Semestre</p>
                        </li>
                        <li>
                            <p class="element">CPXX</p>
                            <p class="description">Concentración</p>
                        </li>
                        <li>
                            <p class="element">CMXX</p>
                            <p class="description">Modalidad</p>
                        </li>
                        <li>
                            <p class="element">Monterrey</p>
                            <p class="description">Campus</p>
                        </li>
                    </ul>
                    <hr>
                    <a href=""><i class="md md-settings-power"></i> Salir</a>
                </div>
            </aside>
            <section id="content">
                <div class="container">
                    <div class="row m-t-30">  <!-- Infromation && Status -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header bgm-bluegray">
                                    <h2>Proceso de Inscripción</h2>
                                </div>

                                <div class="card-body">
                                    <h4 class="f-400 p-l-25 p-t-10">Progreso de tu Inscripción</h4>
                                    <div class="progress progress-striped active m-l-25 m-r-25">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            <span class="sr-only">100% Complete</span>
                                        </div>
                                    </div>
                                    <p class="p-t-10 m-0 p-l-25 p-t-10">
                                        Tiene <b>2</b> de <b>2</b> pasos terminados. <span class="c-red">Ha terminado su inscripción.</span>
                                        <br><br>
                                    </p>
                                    <ul class="cbp-ig-grid m-b-30">
                                        <li>
                                            <a href="horario.html.erb" class="completed">
                                                <span class="cbp-ig-icon md-today"></span>
                                                <h3 class="cbp-ig-title">Selección de Horario</h3>
                                                <span class="cbp-ig-category">Click para modificar.</span>
                                                <span class="step-number">1</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#" class="completed">
                                                <span class="cbp-ig-icon md-local-atm"></span>
                                                <h3 class="cbp-ig-title">Pago de Colegiatura</h3>
                                                <span class="cbp-ig-category">No Disponible</span>
                                                <span class="step-number">2</span>
                                            </a>
                                        </li>
                                    </ul>  <!-- Ends Dashboard Inscription Process -->
                                </div>
                            </div>
                        </div>

                    </div> <!-- Ends Infromation && Status -->

                    <div class="block-header"> <!-- Schedule -->
                        <h2>Consulta Horario</h2>
                    </div>

                    <div class="card">
                        <div class="card-body card-padding">
                            <div role="tabpanel">
                                <ul class="tab-nav" role="tablist">
                                    <li class="active"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Horario</a></li>
                                    <li><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Resumen</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="schedule">
                                        <div class="table-responsive">
                                            <table class="table table-striped schedule-big" id="scheduleHome">
                                                <thead>
                                                    <tr>
                                                        <th>Hora</th>
                                                        <th class="bgm-lightblue c-white">Lunes</th>
                                                        <th class="bgm-lightblue c-white">Martes</th>
                                                        <th class="bgm-lightblue c-white">Miércoles</th>
                                                        <th class="bgm-lightblue c-white">Jueves</th>
                                                        <th class="bgm-lightblue c-white">Viernes</th>
                                                        <th class="bgm-lightblue c-white">Sábado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="info"> <!-- Template to show card of each subject -->
                                        <div class="row summary">
                                            <div class="col-sm-6 summary-card">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h2></h2>
                                                    </div>
                                                    <div class="card-body card-padding">
                                                        <ul class="material-list summary-list">
                                                            <li>
                                                                <p class="element teachers"></p>
                                                                <p class="description">Profesor</p>
                                                            </li>
                                                            <li>
                                                                <p class="element date"></p>
                                                                <p class="description">Fecha</p>
                                                            </li>
                                                            <li>
                                                                <p class="element class-schedule"></p>
                                                                <p class="description">Horario</p>
                                                            </li>
                                                            <li>
                                                                <p class="element building-classroom"></p>
                                                                <p class="description">Edificio y Salón</p>
                                                            </li>
                                                            <li>
                                                                <p class="element options"></p>
                                                                <p class="description">Atributos</p>
                                                            </li>
                                                            <li>
                                                                <p class="element parent-course"></p>
                                                                <p class="description">Acredita</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Ends Schedule -->
                </div>
            </section>
        </section>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->

         <!-- Javascript Libraries -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/waves.min.js"></script>
        <script src="js/bootstrap-growl.min.js"></script>
        <script src="js/sweetalert.min.js"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <script src="js/functions.js"></script>
        <script src="js/schedule.js"></script>

        <script>

        // Dummy array of subjects
        var arrSubjects = [];

        arrSubjects.push(new Subject(1, "Matemáticas Computacionales", "TC1005.16", ["monday", "thursday"], 0900, 3, ["Ramón Brena", "Javier Coronado"], "A3", "301", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], false, "", 8, 30, 20),
            new Subject(2, "Algebra Lineal", "TC1005.16", ["wednesday"], 1030, 3, ["Eduardo Uresti"], "A4", "104", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], false, "", 8, 30, 20),
            new Subject(3, "Sistemas Operativos", "TC1005.16", ["monday", "thursday"], 1500, 3, ["Ramón Brena"], "A3", "303", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], false, "", 8, 30, 20),
            new Subject(4, "Análisis y modelación de sistemas de software", "TC1005.16", ["tuesday", "friday"], 1030, 3, ["Iliana Rámirez "], "A3", "230", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], false, "", 8, 30, 20),
            new Subject(5, "Medios, Cultura y Sociedad", "TC1005.16", ["monday", "thursday"], 1200, 3, ["Juan Carlos Cobian"], "CI", "507", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], true, "Humanidades y Bellas Artes", 8, 30, 20),
            new Subject(6, "Ciudadanía y Democracia", "TC1005.16", ["saturday"], 1200, 3, ["Juan Carlos Cobian"], "CI", "507", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], true, "Ciudadanía", 8, 30, 20),
            new Subject(7, "Expresión verbal en el Ámbito profesional ", "TC1005.16", ["monday", "thursday"], 1330, 3, ["Delia Hinojosa"], "A3", "112", ["Curso Honors"], "10 de agosto de 2015 a 25 de noviembre de 2015", 503, "academic", [], false, "", 8, 30, 20));

        $(document).ready(function() {
            assignColors();
            printScheduleHome(); // Prints schedule out of dummy data
            printSummary(); // Prints summary with the template and dummy data
        });
        </script>


    </body>
  </html>
